.tooltip {
  position: relative;
}
.tooltip::after {
  content: '*';
  position: absolute;
  /* top: -5px; */
  right: -10%;
  border-radius: 5px;
  /* background-color: #fff; */
  box-shadow: 0 0 10px rgb(146, 224, 208, 0.3);
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  font-size: 10px;
  z-index: 1;
  animation: breath 4s linear infinite;
}

@keyframes breath {
  0% {
    /* transform: scale(1); */
    width: 15px;
    height: 15px;
  }
  50% {
    /* transform: scale(1.1); */
    width: 17px;
    height: 17px;
    line-height: 17px;
    box-shadow: 0 0 5px rgb(146, 224, 208, 0.6);
  }
  100% {
    width: 15px;
    height: 15px;
    /* transform: scale(1); */
  }
}
